<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoro.products.mapper.ProductsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zoro.products.domain.Products">
        <id column="id" property="id" />
        <result column="category" property="category" />
        <result column="sub_category" property="subCategory" />
        <result column="categorydesc" property="categorydesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category, sub_category, categorydesc
    </sql>

</mapper>
